@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Montserrat", sans-serif;

  --color-primary: #061449;
  --color-primary-container: #1e2a5e;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #8793cd;
  
  --color-secondary: #5343d6;
  --color-secondary-container: #6c5ff0;
  --color-on-secondary: #ffffff;
  
  --color-tertiary: #705d00;
  --color-tertiary-container: #c9a900;
  --color-tertiary-fixed: #ffe16d;
  --color-tertiary-fixed-dim: #e9c400;
  --color-on-tertiary-fixed: #221b00;
  
  --color-surface: #f7f9fb;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container: #eceef0;
  --color-surface-variant: #e0e3e5;
  
  --color-on-surface: #191c1e;
  --color-on-surface-variant: #45464f;
  
  --color-outline: #767680;
  --color-outline-variant: #c6c5d1;

  --color-background: #f7f9fb;
  --color-on-background: #191c1e;

  /* Custom Spacing */
  --spacing-gutter: 24px;
  --spacing-margin-mobile: 20px;
  --spacing-margin-desktop: 64px;
}

@layer utilities {
  .ambient-shadow {
    box-shadow: 0 20px 40px -15px rgba(6, 20, 73, 0.15);
  }
  .glass-card {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px rgba(6, 20, 73, 0.05);
    border: 1px solid rgba(198, 197, 209, 0.3);
  }
}
